<!--/*@Assignment3-->
<!--Tiffany, Justin, Riya, Nicholas, Scot-->
<!--this is the header for Our Group Project-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/PokemonGB/font.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="myNavbar">
  <ul class="nav navbar-nav navbar-left" id="navLinks" >
    <li><a href="/" class="navbar-brand"> Home</a></li>
  </ul>

  <div class="navbar-text pull-right" id="navbarTitleName">
    <a href="/" class="navbar-brand">Justin, Tiffany, Riya, Nicholas, Scot</a>
  </div>
</nav>
